{
    "output": "dist/desniff",
    "chmod": "0755",
    "algorithm": "SHA256",
    "exclude-composer-files": true,
    "exclude-dev-files": true,
    "compactors": ["KevinGH\\Box\\Compactor\\Php"]
}
